@media print{
  #goog-htsa-search-box {
    display: none !important;
  }
  #goog-htsa-suggest-window {
    display: none !important;
  }
}

#goog-htsa-search-box {
  background-color: #d9e2f4 !important;
  background-position: 0 0 !important;
  background-repeat: repeat-x !important;
  border-color: #a9a9a9 !important;
  border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-style: solid !important;
  border-width: 1px !important;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25) !important;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25) !important;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  font-family: arial,sans-serif !important;
  margin: 0 0 0 -145px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  text-align: left !important;
  width: 177px !important;
  z-index: 2147483647 !important;
  -webkit-transition-property: width, margin !important;
  -moz-transition-property: width, margin !important;
  -webkit-transition-duration: 0.033s !important;
  -moz-transition-duration: 0.033s !important;
  -webkit-transition-timing-function: ease-in-out !important;
  -moz-transition-timing-function: ease-in-out !important;
}
#goog-htsa-search-box.unfocusing {
  width: 32px !important;
  margin: 0 !important;
}
#goog-htsa-input-box {
  background-color: #ffffff !important;
  background-position: 2px center !important;
  background-repeat: no-repeat !important;
  border-color: #a9a9a9 !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-style: solid !important;
  border-width: 1px !important;
  box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -ms-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  color: #000000 !important;
  display: inline-block;
  font: 14px Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  margin: 3px 0 3px 3px !important;
  padding: 3px 0 3px 20px !important;
  position: absolute !important;
  vertical-align: center !important;
  width: 120px !important;
  _width: 142px !important;
  z-index: -1 !important;
}
#goog-htsa-search-box.unfocusing input#goog-htsa-input-box {
  visible: hidden !important;
}
#goog-htsa-search-box.unfocusing:hover input#goog-htsa-input-box {
  visible: visible !important;
}
#goog-htsa-button-set {
  background-color: #d9e2f4 !important;
  background-position: 0 0 !important;
  background-repeat: repeat-x !important;
  border-radius: 0 3px 3px 0 !important;
  -moz-border-radius: 0 3px 3px 0 !important;
  border-style: none !important;
  border-width: 0 !important;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  display: inline-block;
  height: 30px !important;
  margin: 0 !important;
  padding: 0 !important;
  float: right !important;
  width: auto !important;
  z-index: 1 !important;
}
#goog-htsa-search-box.unfocusing #goog-htsa-button-set {
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
}
#goog-htsa-button-set input {
  border-style: none !important;
  border-width: 0 !important;
}
#goog-htsa-button-set fieldset {
  border-style: groove !important;
  border-width: 0 0 0 2px !important;
}
#goog-htsa-button-set fieldset:hover {
  background-color: #c2c9d7 !important;
}
#goog-htsa-button-set fieldset:active {
  background-color: #c2c9d7 !important;
}
#goog-htsa-search-button-field {
  background-color: transparent !important;
  background-position: 0 0 !important;
  background-repeat: repeat-x !important;
  border-color: transparent !important;
  border-radius: 0 3px 3px 0 !important;
  -moz-border-radius: 0 3px 3px 0 !important;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  display: inline-block;
  float: left !important;
  height: 30px !important;
  margin: 0 !important;
  width: auto !important;
  padding: 0 !important;
}
#goog-htsa-search-button-field:hover {
  border-color: #ffffff !important;
}
#goog-htsa-search-button-field:active {
  border-color: #ffffff !important;
}
#goog-htsa-search-box.unfocusing #goog-htsa-search-button-field:hover {
  border-color: transparent !important;
}
#goog-htsa-search-button {
  background-color: transparent !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border-color: transparent !important;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  color: transparent !important;
  display: inline-block;
  font-size: 11px !important;
  height: 30px !important;
  margin: 0 !important;
  min-width: 28px !important;
  padding: 0 2px 0 18px !important;
  vertical-align: middle !important;
  width: 28px !important;
}
#goog-htsa-suggest-window {
  background-color: #ffffff !important;
  border-color: #a9a9a9 !important;
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-style: solid !important;
  border-width: 1px !important;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25) !important;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25) !important;
  float: left !important;
  display: inline-block;
  line-height: 100% !important;
  list-style-image: none !important;
  list-style-type: none !important;
  margin: 0 !important;
  min-width: 142px !important;
  padding: 0 !important;
  position: absolute !important;
  width: auto !important;
  width: 142px;
  height: auto !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 2147483647 !important;
}
.goog-htsa-suggest-hiding {
  display: none !important;
}
#goog-htsa-suggest-window li {
  background-color: transparent !important;
  background-image: none !important;
  border-style: none !important;
  clear: both !important;
  color: #000000 !important;
  display: block;
  line-height: 100% !important;
  margin: 0 !important;
  padding: 3px !important;
  position: static !important;
  text-align: left !important;
  font-family: arial,sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  text-align: left !important;
  text-decoration: none !important;
  cursor: default !important;
  width: auto !important;
  height: auto !important;
}
#goog-htsa-suggest-window li:hover {
  background-color: #d5e2ff !important;
  background-image: none !important;
  border-style: none !important;
  color: #000000 !important;
  font-family: arial,sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  text-align: left !important;
  text-decoration: none !important;
}
#goog-htsa-suggest-window dl {
  background-color: transparent !important;
  background-image: none !important;
  border-style: none !important;
  clear: both !important;
  border-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
#goog-htsa-suggest-window dt {
  background-color: transparent !important;
  background-image: none !important;
  border-style: none !important;
  color: #1111cc !important;
  clear: both !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: arial,sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  text-align: left !important;
  text-decoration: none !important;
}
#goog-htsa-suggest-window dd {
  background-color: transparent !important;
  background-image: none !important;
  border-style: none !important;
  color: #008000 !important;
  clear: both !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: arial,sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  text-align: left !important;
  text-decoration: none !important;
}
